*{
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 20px;
}


.app__main{
  padding-top: 5%;
  padding-left: 4%;
  padding-bottom: 13%;
  vertical-align: middle;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.app__main__left{
  width: 50%;
}
.app__main__right{
  width: 50%;
}


@media screen and (max-width: 991px) {
    .app__main{
      flex-direction: column;
      padding: 4% 25%;
      text-align: center;
    }
    .app__main__left{
      width: 100%;
    }
    .app__main__right{
      width: 100%;
    }
    #button1, #button2{
      padding: 3% 6%;
      margin: 2% 2%;
    }
}
